<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://loremipsum.imgix.net/GTlzd4xkx4LmWsG1Kw1BB/ad1834111245e6ee1da4372f1eb5876c/placeholder.com-1280x720.png?w=1280&q=60&auto=format,compress"
      alt=""
      srcset=""
      height="200px"
      >
  </div>

  <div class="big-card__title">
    <h1>
      <a href="https://angular.io/">
        Saiu  a nova versão do Angular
      </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="https://angular.io/">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </a>
    </p>

  </div>

</div>
